.firm-item {
  border: 2px solid #007bff;
  cursor: pointer;
  padding: 12px; /* Slightly increased padding for better touch interaction */
  /* border: 1px solid #ccc; */
  margin-bottom: 8px; /* Adjusted margin for spacing */
  transition: background-color 0.3s;
  font-family: 'Arial', sans-serif; /* Updated font family */
  font-size: 16px; /* Updated font size for text */
}

/* Add the same hover effect */
.firm-item:hover {
  background-color: #f0f0f0;
}
